name: Build and Test

on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Build
        run: |
          npm install
          npm run build

      - name: Upload build
        uses: actions/upload-artifact@v7
        with:
          name: out
          path: out/